body {
    margin: 0;
    padding: 0;
}
/* add background color to the top navigation */
nav {
    background-color: #333;
    overflow: hidden;
}

/* style the link inside the navigation bar */

a {
    float: left;
    color: #f2f2f2;
    text-align: justify;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
}

a.logo {
    padding: 5px;
}

a img {
    height: 40px;
}
/* change the color of link on hover */
nav a:hover {
    color: rgb(253, 158, 90);
}

nav a.active {
    color: rgb(253, 158, 90);
}

.main {
    width: 980px;
    margin: 0 auto;
    min-height: 1000px;
}

h1 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 50px;
    justify-content: center;
}

.post {
    /*width: 200px;*/
    height: 300px;
}
.post2 {
    margin: 0 auto;
    width: 200px;
    height: 300px;
}

footer {
    margin-top: 0px;
    height: 250px;
    background-color: #181623;
}

footer p {
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

a:-webkit-any-link {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #f9b256;
}

::-webkit-scrollbar-track-piece {
    background: #181623;
}

::selection {
    color: #fff;
    background: #d4ad6a;
}

.card {
    width: 200px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 15px;
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__feader__img {
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.card__body {
    border-bottom: 1px solid grey;
}

.card__body div {
    font-family: Roboto sans-serif;
    text-align: center;
}

.bold {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(102, 0, 128);
}
.card__body__item-price {
    margin: 10px 0 30px 0;
    font-size: 18px;
    color: grey;
}

.card__footer {
    height: 47px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: rgb(231, 231, 231);
}
.card__footer__button {
    position: relative;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 25px;
    background-color: darkorange;
    border: 1px solid grey;
    border-radius: 5px;
}
.card__footer__button:hover {
    box-shadow: rgb(0 0 0 / 16%) 0 3px 10px, rgb(0 0 0 / 23%) 0 3px 10px;
}
.card__footer__button:active {
    box-shadow: rgb(0 0 0 / 16%) 0 3px 10px, rgb(0 0 0 / 23%) 0 3px 10px inset;
}
