.header {
  font-size: 10px;
}

.card {
  width: 300px;
  height: 360px;
  border: 1px solid gray;
  border-radius: 5px;
}

.card__feader__img {
  width: 100%;
}

body {
  font-size: 20px;
}

body div {
  font-size: 10px;
}

.red {
  color: red;
}
