body{
    margin: 0;
    padding: 0;
}
/* add background color to the top navigation */
nav{
    background-color: #333;
    overflow: hidden;
}




/* style the link inside the navigation bar */

a{
    float: left;
    color: #f2f2f2;
    text-align: justify;
    padding:  18px 16px;
    text-decoration: none;
    font-size: 17px;
}

a.logo{
    padding: 5px;
}

a img {
    
    height: 40px;
}
/* change the color of link on hover */
nav a:hover{
    color: rgb(253, 158, 90);
}

nav a.active{
    color: rgb(253, 158, 90);
}


.main{
    width: 980px;
    margin: 0 auto;
    min-height: 1000px;
}

h1 {
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 50px;
    justify-content: center;
   
}


.post{
    /*width: 200px;*/
    height: 300px;
    background-color: #d4ad6a;
}
.post2{
    margin: 0 auto;
    width: 200px;
    height: 300px;
    background-color: #d4ad6a;
}

.post:hover{
    background-color: #d4ad6a;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.post2:hover{
    background-color: #d4ad6a;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



footer {
    margin-top: 0px;
    height: 250px;
    background-color:#181623 ;
    
}

footer p{
    padding-top: 20px;
    text-align: center;
    color: #fff;
}


a:-webkit-any-link{
    cursor:pointer;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb{
    background: #f9b256;
}

::-webkit-scrollbar-track-piece{
    background: #181623;
}

::selection {
    color: #fff;
    background: #d4ad6a;
} 