.card {
    width: 300px;
    height: 360px;
    border: 1px solid gray;
    border-radius: 5px;
}
.card__feader {
}
.card__feader__img {
    width: 100%;
}
.card__body {
}
.card__body__item-price {
}
.card__footer {
}
.card__footer__button {
}
